# Rename this file to .env and fill the values
DATASECTOR_API_KEY=ISI_API_KEY_DATASectors_KAMU
TELEGRAM_BOT_TOKEN=ISI_BOT_TOKEN_KAMU
TELEGRAM_CHAT_ID=ISI_CHAT_ID_KAMU

# Optional
SCAN_COOLDOWN_SECONDS=300
TELEGRAM_COOLDOWN_SECONDS=900
